/*
CSS for keyboard layout only.
Fancy coloring and special style goes into another stylesheet
*/
body {
    --scale: 0.5;
}

div#keyboard {
    width:  calc(var(--scale) * 1255px);
    padding: calc(var(--scale) * 15px) calc(var(--scale) * 12px) calc(var(--scale) * 8px) calc(var(--scale) * 5px);
    margin: calc(var(--scale) * 50px) auto 0 auto;
    background-color: #dbdbdb;
}

/* --- Rows and Cols ----------------------------------- */
div#keyboard div.row {
    clear: both;
}
div#keyboard div.row:after {
    display: block;
    content: '';
    clear: both;
}
div#keyboard div.col {
    float: left;
}

/* --- Content ----------------------------------------- */
div#keyboard button,
div#keyboard div.spacer-key {
    float: left;
    height: calc(var(--scale) * 52px);
    width: calc(var(--scale) * 52px);
    margin: 0 calc(var(--scale) * 3px) calc(var(--scale) * 7px) 0;
    disabled: false;
}

div#keyboard div.mac-fkeys button {
    width: calc(var(--scale) * 55px);
}

div#keyboard button.high {
    height: calc(var(--scale) * 111px);
}
div#keyboard button.wide {
    width: calc(var(--scale) * 107px);
}

div#keyboard button {
    padding: 0;
    background-color: #aaaaaa;
}

div#keyboard div.spacer-key {
    display: block;
    background-color: #e5ff69;
}

div#keyboard div.spacer-small {
    display: block; 
    float: left;
    width: calc(var(--scale) * 25px);
    height: calc(var(--scale) * 16px);
    background-color: #e5ff69;
}

.this_selected{
    color:#FFFFFF!important;
    background: linear-gradient(270deg, #045D82 0%, #1697C9 100%);
}


.mask{
    left: 0;
    top: 0;
    bottom:0;
    right:0;
    position: fixed;
    z-index: 99999;
    background: rgba(82, 107, 54, 0);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* <html>标签要用的样式 ，跟窗口一样大，内容超出隐藏，避免出现滚动条 */
.htmlMask{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

